body {
    position: relative;
    background: #FFFFFF;
    color: #344563;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.left-navlinks {
    text-align: center;
    position: static;
    display: flex;
    justify-content: flex-end;
}

.left-navlinks a {
    margin: 0px 10px;
}

nav a {
    text-decoration: none;
}

.main-container {

}

.bio {
    display: flex;
    flex-direction: column;
    padding-left: 25em;
    align-items: flex-start;
    margin-left: 0;
    margin-top: 15em;
}

.helo {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.37px;
    padding-bottom: 2px;
}

.name {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    margin: 10px 0px;
}

.para {    
    width: 920px;
    height: 98px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}
.connect {
    display: flex;
    flex-direction: column;
    padding-left: 25em;
    align-items: flex-start;
    margin-left: 0;
    margin-top: 10px;
}

.see {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
}

.social-icons a {
    justify-content: center;
    padding-right:10px;
    color: #505F79;
}


.recent-works {
width: 504px;
height: 24px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
padding-left: 25rem;
}

.port {
width: 480px;
height: 110px;
font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 100%;
padding-left: 25rem;
}

.first-project {
    display: grid;
    grid-template-columns: 1fr  1fr;
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
border-radius: 24px;
max-width: 1156px;
border-radius: 24px;
grid-gap: 10px;
margin-bottom: 20px;
}

.bg-image {
    display: grid;
    grid-column-start: 1;
    background: url(images/railscapstone1.png) no-repeat;
border-radius: 8px;
background-size: contain;
margin-left: 10px;
}

.project-name {
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 52px;
color: #091E42;
}

.pro-descript {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #344563;
}

.languages {
    display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px;
list-style-type: none;

}

.languages li {
    background: #EBEBFF;
    padding: 4px 12px;
    margin-right: 10px;
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.03em;
color: #6070FF;
}

.see-button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #396DF2;  
}

.about {
    display: grid;
    grid-template-columns: 1fr  2fr;
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
border-radius: 24px;
max-width: 1156px;
border-radius: 24px;
grid-gap: 10px;
margin-bottom: 20px;
}

.bio2 {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 10px;
}

.about-me {
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 52px;
}

.about-para {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #344563;
}

/* .skill-set{
    display: flex;
    flex-direction: column;
} */

.heading {
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #344563;
}

.languages2 {
    display: flex;
    list-style-type: none;
}