body {
    position: relative;
    width: 1440px;
    height: 4303px;
    background: #1B1B1E;
    color: #FFFFFF; 
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 150px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF; 
}

.main-container {
    width: 100%;
    height: 500vh;
    max-width: 1310px;
    margin: 0 auto;
}

.helo {
    position: absolute;
    width: 504px;
    height: 24px;
    left: 547px;
    top: 302px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.name {
    position: absolute;
    width: 500px;
    height: 220px;
    left: 547px;
    top: 250px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 100%;
    /* or 110px */
    color: #FFFFFF;
}

.para {
    position: absolute;
    width: 564px;
    height: 108px;
    left: 547px;
    top: 586px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.see {
    position: absolute;
width: 113px;
height: 21px;
left: 547px;
top: 737px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #DB4747;
}

.socia-icons {
    background-color: red;  
    position: absolute;
    top: 737px;
}


.recent-works {
    position: absolute;
width: 504px;
height: 24px;
left: 286px;
top: 960px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */
color: #FFFFFF;
}

.port {
    position: absolute;
width: 480px;
height: 110px;
left: 286px;
top: 984px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 110px;
line-height: 100%;
/* identical to box height, or 110px */
color: #FFFFFF;

border: 1px solid #FFFFFF;
}

.first-project {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr  3fr;
    grid-template-rows: 2;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    width: 90%;
    top: 1225px; 
}

.first-image {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%,     
rgba(0, 0, 0, 0) 48.44%, #000000 100%), url(https://user-images.githubusercontent.com/52098394/113170896-a730d880-924f-11eb-83b8-4c41855ee61d.png);
border: 1px solid rgba(255, 255, 255, 0.1);
}

.see-button {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: end;
    width: 200px;
    height: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background: #DB4747;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.second-image {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    position: absolute;
    width: 325px;
    height: 279px;
    background: url(https://user-images.githubusercontent.com/52098394/113170968-bc0d6c00-924f-11eb-861b-195a47ca04a9.png);
}

.third-image {
    /* position: absolute; */
    grid-column-start: 1;
    grid-row-start: 2;
    width: 325px;
    height: 279px;
background: url(https://user-images.githubusercontent.com/52098394/113170896-a730d880-924f-11eb-83b8-4c41855ee61d.png);
border: 1px solid rgba(255, 255, 255, 0.1);
}


.languages {
    position: absolute;
width: 245px;
height: 245px;
left: 169px;
top: 2420px;

background: #212123;
box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.frameworks {
    position: absolute;
width: 245px;
height: 245px;
left: 438px;
top: 2420px;

background: #212123;
box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.skills {
position: absolute;
width: 245px;
height: 245px;
left: 169px;
top: 2689px;

background: #212123;
box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
border-radius: 4px; 
}

.soft-skills {
    position: absolute;
width: 245px;
height: 245px;
left: 438px;
top: 2689px;

background: #212123;
box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.about-me {
    position: absolute;
width: 474px;
height: 110px;
left: 735px;
top: 2400px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 110px;
line-height: 100%;
/* identical to box height, or 110px */
color: #FFFFFF;

}

.about-para {
    position: absolute;
width: 564px;
height: 108px;
left: 735px;
top: 2698px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;

color: #FFFFFF;
}